    html{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    margin:0;
}
.container {

    padding:5px;
    min-width: 365px;
    margin: 0 auto;   
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(5,1fr) 3fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
input{
    width: 50px;
}
#session-label{
    grid-column: 2;
}

#session-decrement{
    grid-column: 1;
    grid-row: 2;
}
#session-length{
    grid-column: 2;
    grid-row: 2;
}
#session-increment{
    grid-column: 3;
    grid-row: 2;
}

#break-label{

    grid-column: 2;
    grid-row: 3;
}
#break-decrement{
    grid-column: 1;
    grid-row: 4;
}
#break-length{
    grid-column: 2;
    grid-row: 4;
}
#break-increment{
    grid-column: 3;
    grid-row: 4;
}
#timer-label{
    grid-column: 2 ;
    grid-row: 5;
}
#time-left{
    grid-column: 2;
    grid-row:6;
    
}

.start-stop-reset-buttons
{   
    display: grid;
    grid-column: 2;
    grid-row: 7;
}

